<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<h1>
  Show Article Details, baby.
</h1>

<h3><b>Title:</b>&nbsp;<font color='red'><%= @article.title %></font></h3>
<h3><b>Description:</b>&nbsp;<font color='blue'><%= @article.description %></font></h3>