<h1>Show Article Details</h1>
<h2>(View files are 'Templates')</h2>
<h3><b>Title:</b>&nbsp;<font color='red'><%= @article.title %></font></h3>
<h3><b>Description:</b>&nbsp;<font color='blue'><%= @article.description %></font></h3>